<div class="row">
    <div class="columns">
        <ul class="sub-nav">
          <% for base in @bases %>
            <li class="sub-nav__item">
            <%= link_to base.name, basis_path(base.id) %>
            </li>
          <% end %>
        </ul>
    </div>
</div>
<div class="row">
    <div class="columns small-12">
        <div id="js-ingredients" class="js-ingredient-slider ingredients">
            <% for ingredient in @ingredients %>
                <div class="js-ingredient ingredient" data-category="<%= ingredient.category.id %>">
                    <%= ingredient.name %>
                </div>  
            <% end %>
        </div>
    </div>
</div>
<div class="row">
    <div class="columns small-3 medium-2">
        <div class="side-menu">
            <% for category in @categories %>
                <div class="side-menu__categories js-category" data-category-id="<%= category.id %>">
                    <%= category.name %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="columns small-9 medium-10">
        <div class="row">
            <% if @base.container.downcase == "bowl" %>
                <div class="columns small-12 medium-10 medium-centered">
                    <div class="js-container container--wide">
            <% else %>
            <div class="columns small-12 medium-4 medium-centered">
                <div class="js-container container--tall">
            <% end %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <%= link_to '', cart_path, class: 'fa fa-shopping-cart fa-5x'  %>
                <%= link_to '', root_path, class: 'fa fa-home fa-5x'  %>
            </div>
        </div>
    </div>
</div>