<div class="row">
    <div class="columns">
        <ul class="sub-nav">
          <% for base in @bases %>
            <li class="sub-nav__item">
            <%= link_to base.name, basis_path(base.id) %>
            </li>
          <% end %>
        </ul>
    </div>
</div>
<div class="row">
    <div class="columns medium-2">
        <div class="side-menu">
            <% for category in @categories %>
                <div class="side-menu__categories js-category" data-category-id="<%= category.id %>">
                    <%= category.name %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="columns medium-10">
        <div class="row">
            <div class="columns medium-12">
                <div id="js-ingredients" class="ingredients">
                    <% for ingredient in @ingredients %>
                        <div class="ingredient js-ingredients" data-category="<%= ingredient.category.id %>">
                            <%= ingredient.name %>
                        </div>  
                    <% end %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns medium-4 medium-centered">
                <% if @base.container == "bowl" %>
                    <div id="js-container" class="container--wide">
                <% else %>
                    <div id="js-container" class="container--tall">
                <% end %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <%= link_to '', cart_path, class: 'fa fa-shopping-cart fa-5x'  %>
                <%= link_to '', root_path, class: 'fa fa-home fa-5x'  %>
            </div>
        </div>
    </div>
</div>