<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
  </head>

  <body>
    <div class="row nav">
        <div class="columns medium-4">
            <%= link_to image_tag('http://placehold.it/250x250/&text=Logo'), root_path %>
        </div>
        <div class="columns medium-8">
            <img src="http://placehold.it/500x250">
        </div>
    </div>  

    <div class="wrapper">
        <%= yield %>
    </div>

  </body>
</html>
