<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="columns medium-4">
          <img src="http://placehold.it/500x200/&text=Logo">
      </div>
      <div class="columns medium-8">
          <img src="http://placehold.it/500x200">
      </div>
  </div>  

    <%= yield %>

  </body>
</html>
