<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Level Up" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
    
  </head>

  <body class="js-droppable">
    <div class="row nav">
        <div class="columns small-6 medium-4">
            <%= link_to image_tag('level-up.png', class: 'navbar__logo'), root_path%>
        </div>
        <div class="columns small-6 medium-8 navbar__title">
            <% if @base %>
                <h1><%= @base.name %></h1>    
            <% end %>
        </div>
    </div>  

    <div class="wrapper">
        <%= yield %>
    </div>

  </body>
</html>
